.formQuestion {
  font-size: large;
  display: block;
  font-weight: bold;
}

.formInputElem {
  visibility: hidden;
}

#searchContainer {
  display: grid;
}

#submitEmailForm {
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    ""
}
